<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.powerlong.electric.app"
    android:versionCode="19"
    android:installLocation="auto"
    android:versionName="19" >
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" /> 

    <application
        android:name=".ElectricApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            
            android:name="com.unionpay.upomp.lthj.plugin.ui.SplashActivity"
            android:screenOrientation="portrait" >
        </activity>
       
        <activity
            android:name="com.alipay.android.app.sdk.WapPayActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.SplashActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.GuideActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ui.HomeActivityNew"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
        </activity>
        <activity android:name=".ui.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.ScanningResultActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity 
            android:name="com.scanning.CaptureActivity"
            android:screenOrientation="landscape" 
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
        </activity>
        
        <activity android:name=".ui.ItemListActivity" 
            	  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.RegisterActivity" 
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.RegisterVerifyActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.MyGrouponCouponActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.CashCouponActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.MyOrderActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.MyOrderDetailActivity"
            android:screenOrientation="portrait">
        </activity>
         <activity android:name=".ui.MyFavourActivity"
             android:screenOrientation="portrait">
        </activity>
         <activity android:name=".ui.SettingHelpCenterActivity"
             android:screenOrientation="portrait">
        </activity>
         <activity android:name=".ui.SettingReturnItemShowsActivity"
             android:screenOrientation="portrait">
        </activity>
          <activity android:name=".ui.SettingServiceAgreementActivity"
              android:screenOrientation="portrait">
        </activity>
         <activity android:name=".ui.SettingAboutUsActivity"
             android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.SettingNotifyTimeAcitvity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.SettingNotesContactActity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.SettingCommentUs"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.SettingVersionsUpdate"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.MyNotificationActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.ChatActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.ItemPicViewFlipperActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.ServiceAgreementActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.ScanningStringResultActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.AdveringWebviewActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name=".ui.CityListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.ShoppingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.FloorActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.BrandActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.LatestActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.ActivityDetailActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.FoodActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.CommunityActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.BuyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.GrouponListActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.GroupBuyListActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.GrouponDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
         <activity android:name=".ui.GrouponDetailNew"
             android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.ShopDetailActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.ShopDetailActivityNew"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.EvaluateDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.ShoppingCartSettleAccountActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.SendSelectActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.CouponSelectActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.ShopCouponSelectActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.PaySelectActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.powerlong.electric.app.ui.DateTimeAcitivityNew"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.powerlong.electric.app.ui.DateTimeAcitivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.SettingsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.MyProfileActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.EditMailInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.EditMobileInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.EditNickNameActivity" 
            android:screenOrientation="portrait">
        </activity>
        
<!--         <activity android:name=".SelectCategoryActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SelectCategoryActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> -->
        <activity android:name=".ui.SearchBaseActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.SearchBaseActivityNew"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.AddressManageActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.AddressEditActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.AddressAddActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.NearbyMapActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" 
			android:launchMode="singleTask" >
        </activity>
        <activity android:name=".ui.GroupBuyListActivityNew" 
		    android:launchMode="singleTask"
		    android:screenOrientation="portrait"></activity>
<!--         <activity
            android:name="com.jwetherell.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.CAPTURE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> -->
        <activity android:name=".ui.FloorDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.ShoppingCarDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.FoodDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.EntertainmentDetailActivity" 
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.NotificationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.MyMessageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.ItemDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.ItemDetailWebActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.CoverFlowTestingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ui.MyOrderActivityNew"
            android:screenOrientation="portrait"></activity>
        
        <activity android:name=".ui.ActivityGroupMoreDetail"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.GrouponDetailShowActivity"
            android:screenOrientation="portrait"></activity>
		<activity android:name=".ui.SearchFragmentSubCategory" 
		    android:launchMode="singleTask"
		    android:screenOrientation="portrait"></activity>
		<activity
            android:name="com.unionpay.upomp.lthj.plugin.ui.IndexActivityGroup"
            android:screenOrientation="portrait" >
             <intent-filter>
				<action android:name="com.unionpay.upomp.lthj.android.plugin.index.test" /> 
  				<category android:name="android.intent.category.DEFAULT" />    
            </intent-filter>
        </activity>
        <activity
            android:name="com.unionpay.upomp.lthj.plugin.ui.HomeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.unionpay.upomp.lthj.plugin.ui.PayActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.unionpay.upomp.lthj.plugin.ui.AccountActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.unionpay.upomp.lthj.plugin.ui.BankCardInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.unionpay.upomp.lthj.plugin.ui.SupportCardActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.unionpay.upomp.lthj.plugin.ui.UserProtocolActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.unionpay.upomp.lthj.plugin.ui.AboutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <service
            android:name="com.powerlong.electric.app.service.NewMessageReceiver"
            android:enabled="true">
             <intent-filter>  
       				 <action android:name="com.powerlong.electric.app.service.NewMessageReceiver" />  
   			 </intent-filter> 
        </service>
        <receiver 
			  android:name="com.powerlong.eletric.app.ui.HomeActivityNew"
			  >
			    <intent-filter>
			        <action android:name="com.powerlong.broadcast.newmessage" />
			    </intent-filter>
		</receiver>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

</manifest>